body {
  background-color: aliceblue;

  font-family: "Open Sans", sans-serif;
  color: #2b3e51;
}

nav{
  background-color: orangered;
   margin: 10px;
  }

a
{color: #fff;
  
}

a
{
  margin: 15px;

}


.login-form-wrap {
  background-color: #fff;
  width: 50%;
  margin: 30px auto;
  text-align: center;
  padding: 20px 0 0 0;
  border-radius: 4px;
  box-shadow: 0px 30px 50px 0px rgba(0, 0, 0, 0.2);
}

.login-form {
  padding: 0 60px;
}

input {
  box-sizing: border-box;
  width: 35%;
position: relative;

  height: 42px;
  line-height: 50px;
  border-radius: 4px;
  font-size: 12px;
 text-align: center;
 
}



input[type="submit"] {
  border: none;
  display: block;
 background-color:#4070f4 ;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  font-size: 16px;
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}


#create-account-wrap {
  background-color: aliceblue;
  color: black;
  font-size: 14px;
  width: 100%;
  padding: 10px 0;
  border-radius: 0 0 4px 4px;
}
#create-account-wrap a{
  color: orangered;
}


